.card-about {
  margin-bottom: 30px;
  text-align: center;
}

.about-wrapper {
  padding-bottom: 48px !important;
}

.btn-about {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
}

  .btn-about:hover {
    transform: scale(1.1);
  }

.text-about {
  font-size: 18px;
}