.main_background {
  min-height: calc(100vh - 6.4rem);
  width: 100wh;
}

.rr {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-135deg,#1de9b6,#1dc4e9);
  top: 190px;
  right: 190px;
  z-index: -1000;
  animation: floating 7s infinite;
}

.rr-s {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 530px;
  right: 120px;
  background: #04a9f5;
  z-index: -1000;
  animation: floating 9s infinite;
}

.ll {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-135deg,#899fd4,#a389d4);
  left: 280px;
  bottom: 190px;
  z-index: -1000;
  animation: floating 9s infinite;
}

.ll-s {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1de9b6;
  left: 190px;
  bottom: 490px;
  z-index: -1000;
  animation: floating 7s infinite;
}

.login-reg-circles {
  top: -100;
  left: -100;
}

@keyframes floating {
  from {
      transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}