.not-found-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: calc(100vh - 6.8rem);
}

.not-found-container {
  position: relative;
  width: 520px;
  padding: 15px;
  z-index: 5;
}

.auth-inner {
  width: 100%;
  margin: auto;
  padding: 8px 25px 16px 25px;
  transition: all .3s;
  border-radius: 6px;
}

.r {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-135deg,#1de9b6,#1dc4e9);
  top: -130px;
  right: -120px;
  z-index: -1000;
  animation: floating 7s infinite;
}

.r-s {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 150px;
  right: -150px;
  background: #04a9f5;
  z-index: -1000;
  animation: floating 9s infinite;
}

.l {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-135deg,#899fd4,#a389d4);
  left: -120px;
  bottom: -130px;
  z-index: -1000;
  animation: floating 9s infinite;
}

.l-s {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1de9b6;
  left: -150px;
  bottom: 150px;
  z-index: -1000;
  animation: floating 7s infinite;
}

.login-reg-circles {
  top: -100;
  left: -100;
}

@keyframes floating {
  from {
      transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}