.table-names {
 border: 1px solid grey;
 height: 40vh;
 padding-right: 0 !important;
 padding-left: 0 !important;
 margin-left: 10px;
}

.react-database-diagram-node {
  width: 220px !important;
}

.edit-table {
  border: 1px solid grey;
  min-width: 780px;
}

.tables-container {
  border: 1px solid grey;
}

.legend {
  border: 1px solid grey;
}

.table-properties {
  border: 1px solid grey;
  height: calc(100vh - 9.5rem);
}

.wrapper-edit-table{
  text-align: center;
  margin-top: 10px;
}

.btn-add-table {
  min-width: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-add-row {
  margin-right: 10px;
}

.btn-submit {
  width: 6.3rem;
  margin-right: 80px;
  margin-left: 25px;
}

.btn-cancel {
  width: 6.3rem;
  margin-left: 5px;
}

.btn-delete-row {
  margin-left: 5px;
  margin-right: 80px;
}

.btn-delete-table {
  margin-right: 5px;
}

  .btn-add-table:hover, .btn-add-row:hover, .btn-submit:hover, .btn-cancel:hover, .btn-delete-row:hover, .btn-delete-table:hover {
    transform: scale(1.1);
  }

.editable-listview {
  margin-top: 10px !important;
}

.legend-text {
  text-align: left !important;
}

.btn-add-row {
  margin-left: 8.7rem;
}

.legend-title {
  text-align: center;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #007bff;
  text-decoration: underline;
}

.legend-constrains, .legend-types {
  font-size: 18px;
  color: #007bff;
  margin-top: 5px;
}

.list-group {
  height: calc(100% - 3.6rem);
  width: 100%;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.data-grid-container {
  height: calc(40vh - 3.1rem);
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  color: black;
}

.input-table-name {
  width: 150px;
}

.list-group-item.active {
  background-color: lightskyblue;
  border-color:lightskyblue;
}

