.footer {
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.footer-gitlab-ico {
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.gitlab-ico {
  padding-top: 8px;
  margin-bottom: 3px;
}

#footer {
  z-index: 10001;
}