.mouse-pointer {
  position: absolute;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
}

/*text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;*/
.mouse-pointer-text {
  position: absolute;
  pointer-events: none;
  color: red;
  font-size: 16px;
  font-weight: bold;
}