.not-found-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: calc(100vh - 1.9rem);
}

.not-found-container {
  position: relative;
  width: 520px;
  padding: 15px;
  z-index: 5;
}

.auth-inner {
  width: 100%;
  margin: auto;
  padding: 8px 25px 16px 25px;
  transition: all .3s;
  border-radius: 6px;
}