.body-color-dark{
    color: #FFFFFF  !important;
    background-color: #464646 !important;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.body-color-light{
    color: #141414 !important;
    background-color: #d8d8d8 !important;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.nav-item-text-light{
  color: #FFFFFF!important
}

.nav-item-text-dark{
  color: #000000!important
}
/* 
.bg-dark{
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.bg-ligth{
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
   */