body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eFsXWi {
    display: inline-block;
    font-size: 8px;
    height: 15px;
    line-height: 1px;
    text-align: center;
    width: 15px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px 0px 8px;
    padding: 0px;
    background: inherit;
}

.eDsTPj {
  /*opacity: 1 !important;*/
}

.hEvedf {}


.kanbanBoard {
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  /*padding-top: 64px !important;*/
  transform-origin: 0 0;
}

.react-trello-lane {
  max-height: calc(100vh - 13.5vh) !important;
}

.sc-fzoLsD {
  min-width: 268px !important;
}

.lane-del {
  max-height: 25px;
  margin-top: 5px;
  line-height: normal;
  border-radius: 3px;
}

