.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-control-side-menu {
  width: 96%;
  margin-left: 5px;
}

.form-control {
  background-color: #F4F7FA !important;
  color: #454647 !important;
}

.form-control:focus {
  transform: scale(1.05) !important;
  border-color: #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}

.krrJph {
  background-color: #A8A8A8 !important;
}

.mouse-pointer-check {
  cursor: pointer;
  height: 25px;
}

.r {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-135deg,#1de9b6,#1dc4e9);
  top: -130px;
  right: -120px;
  z-index: -1000;
  animation: floating 7s infinite;
}

.r-s {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 150px;
  right: -150px;
  background: #04a9f5;
  z-index: -1000;
  animation: floating 9s infinite;
}

.l {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-135deg,#899fd4,#a389d4);
  left: -120px;
  bottom: -130px;
  z-index: -1000;
  animation: floating 9s infinite;
}

.l-s {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1de9b6;
  left: -150px;
  bottom: 150px;
  z-index: -1000;
  animation: floating 7s infinite;
}

.login-reg-circles {
  top: -100;
  left: -100;
}

@keyframes floating {
  from {
      transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}