.chatApp {
  display: flex;
  flex-direction: column;
  background-color: #dadbd3;
  position: absolute;
  top: 100px;
  bottom: 100px;
  right: 0;
  left: 100px;
}

.messagesContainer {
  flex: 1;
  background: white;
  border: 1px solid black;
  overflow-y: auto;
}
.user {
  right: 148px;
  width: 1800px;
  height: 30px;
}

.another {
  width: 96px;
  height: 30px;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.bubble-container {
  display: flex;
}

.MuiGrid-root.bubble {
  border: 0.5px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: block;
  width: auto;
  max-width: 80%;
  background-color: #d7d7f1;
}

.bubble.bubble-right {
  margin-left: auto;
}

.MuiListItemText-root {
  word-break: break-word;
  white-space: break-spaces;
} 

#footer {
  z-index: 10001;
}
